*{
   margin: 0;
   padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
}
nav {
    height: 50px;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    background-color: #1B242F;
    
}
.Menu {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin-left: 15%;
    padding-top: 10px;
}
.Menu a span{
    color: #981E56;
}
.Menu a:hover { 
    color: #981E56;
}

.Menu a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}
.Menu a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: all 0.4s linear;
}

.Menu a:hover::before {
    width: 100%;
    background-color: #FFFFFF;
}
.back{
    background: url('../images/filler.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 725px;
}
.detail {
    position: absolute;
    top: 40%;
    left: 32%;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
}
.detail h1{
    font-weight: 100;
}
.detail span{
    color: #981E56;
}
.detail button{
    margin-top: 20px;
    background-color: transparent;
    outline: 1px solid #FFFFFF;
    padding: 10px;

}
.detail .btn{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    text-decoration: none;
   color: #FFFFFF;
   font-family: 'Raleway', sans-serif;
   
}
.detail i{
    padding-left: 15px;
}
.detail button:hover{
    background-color: #09A9B1;
    border: none;
    outline: none;    
}
.detail button:hover i{
    transform: rotate(90deg);
    transition-duration: 0.2s;
}
.About{
    width: 100%;
    height: 800px;
    /* background-color: aquamarine; */
    margin-top: 0%;
}
.About h1{
    text-align: center;
    padding-top: 5%;
    color: #45474A;
    font-size: 40px;
    text-transform: uppercase;
}
/* .About h1::after{
    content: '';
    width: 70px;
    height: 4px;
    background-color: #45474A;
    position: absolute;
    left: 48%;  
    top: 118%;
} */
.container{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: justify;
   margin-top: -35%;
   width: 100%;
   height: 400px;
}
.para h1{
font-size: 30px;
padding-left: 15%;
margin-top: -1%;
 
}
.para h1 span{
    color: #981E56;
    font-weight: 100;
  
}
.para p{
    line-height: 30px;
    /* margin-top: 0%; */
    padding-top: 15px;
    padding-left: 15%;
    padding-right: 50px;
}
 .img1{
  padding-left: 15%; 
  /* width: 100px; */
}
.container .btn2{
    margin-left: 15%;
    margin-top: 25px;
    padding: 15px;
    font-size: 20px;
    background-color: #1B242F;
    border: none;
    outline: none; 
}
.container .btn2 a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    color: #09A9B1;
    
}
.btn2:hover
{
    background-color: #09A9B1;
    border: none;
    outline: none; 
}
.btn2:hover a
{
    color: #FFFFFF;

}
.icon4 {
    font-size: 28px;
    padding-top: 20px;
    margin-left: 15%;
    margin-top: 20px;
}
.icon4 i{
    transition: 0.2s linear;
}
.icon4 a:hover i{
    transform: scale(1.3);
}
.skill
{
    width: 100%;
    height: 1300px;
    background-color: #F5F5F5;
    /* background-color: aqua; */
    margin-top: 8%;
}
.skill h1{
    text-align: center;
    padding-top: 5%;
    color: #45474A;
    font-size: 40px;
    text-transform: uppercase;
}
/* .skill h1::after{
    content: '';
    width: 15%;
    height: 4px;
    background-color: #45474A;
    position: absolute;
    left: 43%; 
    top: 232%;
} */
.progress {
    list-style: none;
    width: 600px;
    margin: 60px auto;
    display: inline-block;
    margin-left: 13%;
    margin-top: 5%;
    /* padding-left: ; */
}

.progress li {
    margin: 20px 0;
}

.progress h3 {
    font-weight: 500;
    font-size: 20px;
    color: #2F3A5F;
}
.progress .spa{
    padding-left: 83%;
}
.progress .spa1{
    padding-left: 85%;
}
.progress .spa2{
    padding-left: 74%;
}
.progress .spa3{
    padding-left: 76%;
}
.progress .spa4{
    padding-left: 85%;
}
.bar {
    background: rgba(128, 128, 128, 0.171);
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
    outline: none;
    border: none;
}

.bar span {
    height: 20px;
    float: left;
}

.html {
    background: #FFD034;
    width: 95%;
    animation: html 2s;
}

.css {
    background: #586BCE;
    width: 85%;
    animation: css 2s;
}

.java {
    background: #3CD0B9;
    width: 65%;
    animation: java 2s;
}
.boot {
    background: #1B242F;
    width: 75%;
    animation: java 2s;
}
.net {
    background: #981E56;
    width: 55%;
    animation: java 2s;
}
@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
@keyframes boot {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
@keyframes net {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
.progress h4{
    font-size: 25px;
}
.progress h4{
    /* text-align: center; */
    padding-top: 5%;
    color: #45474A;
    font-size: 30px;
    text-transform: uppercase;
}
.edu {
    margin-top: -48%;
    margin-left: 13%;
}
.timeline-box{
    margin-top: 15px;
    width: 600px;
    /* height: 600px; */
    background-color: #ffffff63;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 30px;
}
.timeline-box .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.timeline-box .timeline-date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #7d74f1;
}

.timeline-box .timeline-text {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding-bottom: 50px;
}
.edu h1{
    padding-top: 5%;
    color: #45474A;
    font-size: 30px;
    text-transform: uppercase;
}
.portfolio{
    width: 100%;
    height: 700px;
    /* background-color: aquamarine; */
    margin-top: 2%;
}
.portfolio h1{
    text-align: center;
    padding-top: 5%;
    color: #45474A;
    font-size: 40px;
    text-transform: uppercase;

}
#container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

#container .hover {
    width: 500px;
    height: 300px;
    /* margin-left: 50px; */
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    transition: .3s;
    margin: 10px;
}

#container img {
    height: 100%;
    /* width: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#container i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-1500px, -50%);
    z-index: 10;
    color: #fff;
    transition: .8s;
    transition-timing-function: linear;
}

#container .hover::after {
    content: '';
    width: 800px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-140%, -50%);
    z-index: 1;
    background: rgba(24, 220, 255, 0.8);
    transition: 0.8s;
    border-radius: 50%;
}

#container .hover:hover::after {
    transform: translate(-50%, -50%);
}

#container .hover:hover img {
    transform: translate(-50%, -50%) scale(1.4);
}

#container .hover:hover i {
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
}
.form {
    background-color: #252934;
    height: 100vh;
    padding-top: 5px;
}

.form .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.form-sections {
    margin-top: 5rem;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
}

.Form-left h1 {
    color: #fff;
    padding: 0;
    margin: 0;
}

.Form-left iframe {
    padding-top: 10px;
}

.Form-left h4 {
    padding: 0;
    margin: 0;
    color: rgb(243, 235, 235);
}

.line {
    border-bottom: 2px solid rgb(12, 168, 207);
    width: 8%;
    margin-left: 0;
}

.Form-left span {
    color: rgb(187, 182, 182);
    font-weight: bold;
}

.Form-left hr {
    width: 25rem;
    margin-left: 0;
    border: 1px solid rgb(53, 52, 52);
}

.fa {
    padding: 8px;
    font-size: 18px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(187, 182, 182);
}

.fa:hover {
    color: rgb(16, 135, 190);
    ;
}

.Form-right h1 {
    color: #fff;
    padding: 0;
    margin: 0;
}

form {
    padding-top: 2rem;
}

form h5 {
    padding: 0;
    margin: 0;
    color: rgb(228, 218, 218);
}

form input {
    padding: 0.6rem;
    width: 27rem;
    border: none;
    background-color: rgba(136, 133, 133, 0.3);
    color: white;
    border: none;
    outline: none;
}
.contact {
    max-width: 1152px;
    padding: 0 auto;
    margin: 0 auto;
    /* background-color: #2F3A5F; */
}
form textarea {
    padding: 0.6rem;
    width: 27rem;
    border: none;
    background-color: rgba(136, 133, 133, 0.3);
    color: white;
    border: none;
    outline: none;
}

form button {
    width: 9rem;
    background: rgb(12, 168, 207);
    padding: 5px;
    outline: none;
    border-color: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0.9rem;
    border-radius: 50px;
    cursor: pointer;
}

form button:hover {
    background-color: white;
    color: aqua;
}

footer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.192);
    padding: 50px;
}